<div class="banner">
    <div class="swiper-container ">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="Content/images/yi.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/images/er.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/images/san.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="nav">
    <dl>
        <dt >
            <span class="bg-gray"> <i class="fa fa-car"></i></span>

        </dt>
        <dd><span>车商城</span></dd>
    </dl>
    <dl>
        <dt >
            <span class="bg-danger"> <i class="fa fa-file"></i></span>

        </dt>
        <dd><span>分期购车</span></dd>
    </dl>
    <dl>
        <dt >
           <span class="bg-blue"><i class="fa fa-scissors"></i></span>
        </dt>
        <dd><span>团购活动</span></dd>
    </dl>
    <dl>
        <dt >
          <span class="bg-fuchsia"> <i class="fa fa-warning"></i></span>
        </dt>
        <dd><span>找二手车</span></dd>
    </dl>
</div>
<div class="imgs">
    <div class="fang"><img src="Content/images/blue_03.jpg" alt=""></div>

</div>
<div class="serve">
    <h3>车主服务</h3>
    <div class="heng">
        <dl>
            <dt>
                <img src="Content/images/ku_03.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_05.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_07.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_03.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>

    </div>
    <div class="heng">
        <dl>
            <dt>
                <img src="Content/images/ku_15.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_16.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_17.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_18.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>

    </div>
    <div class="heng">
        <dl>
            <dt>
                <img src="Content/images/ku_24.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_25.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_27.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>
        <dl>
            <dt>
                <img src="Content/images/ku_03.jpg" alt="">

            </dt>
            <dd>油卡充值</dd>
        </dl>

    </div>
</div>
<div class="limit">
    <div class="time">
        <h3 class="float-left pl10">限时抢购</h3>
        <p class="float-right pr10"><span>13</span>:<span>13</span>:<span>13</span></p>

    </div>
    <div id="wrappers">
        <div>
            <ul>
                <li><img src="Content/images/big_03.jpg" alt=""></li>
                <li><img src="Content/images/big_05.jpg" alt=""></li>
                <li><img src="Content/images/big_03.jpg" alt=""></li>
                <li><img src="Content/images/big_03.jpg" alt=""></li>
                <li><img src="Content/images/big_05.jpg" alt=""></li>
                <li><img src="Content/images/big_03.jpg" alt=""></li>
            </ul>

        </div>
    </div>
</div>
<div class="play">
    <div class="up">
        <h3 class="float-left pl10">活动专区</h3>
        <p class="float-right pr10"  ><span>更多活动</span><i class="fa fa-angle-right"></i></p>
    </div>
    <div class="tu">
        <ul>
            <li><img src="Content/images/san_02.jpg" alt=""></li>
            <li><img src="Content/images/san_04.jpg" alt=""></li>
            <li><img src="Content/images/san_05.jpg" alt=""></li>
        </ul>
    </div>
</div>
<div class="che">
    <div class="up">
        <h3 class="float-left pl10">彩你喜欢</h3>
        <p class="float-right pr10"  ><span>更多</span><i class="fa fa-angle-right"></i></p>
    </div>
    <div id="wrapper">
        <div>

            <ul class="uu">
                <li>
                    <dl>
                        <dt>
                            <img src="Content/images/car_03.jpg" alt="">
                        </dt>
                        <dd>
                            <h3>上汽大众—全新旅途</h3>
                            <p>上汽大中什么是没事没事</p>
                            <p><span>1元</span>1.44万</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="Content/images/car_03.jpg" alt="">
                        </dt>
                        <dd>
                            <h3>上汽大众—全新旅途</h3>
                            <p>上汽大中什么是没事没事</p>
                            <p><span>1元</span>1.44万</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <img src="Content/images/car_03.jpg" alt="">
                        </dt>
                        <dd>
                            <h3>上汽大众—全新旅途</h3>
                            <p>上汽大中什么是没事没事</p>
                            <p><span>1元</span>1.44万</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="Content/images/car_03.jpg" alt="">
                        </dt>
                        <dd>
                            <h3>上汽大众—全新旅途</h3>
                            <p>上汽大中什么是没事没事</p>
                            <p><span>1元</span>1.44万</p>
                        </dd>
                    </dl>
                </li>
            </ul>
            <div class="fullup">
                <span>上拉加载</span>
            </div>







        </div>


    </div>

</div>



